.timer {
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40vw;
    position: relative;
}
.tlabel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
body {

    align-items: center;
    justify-content: center;
    position: relative;
}